<a href="https://colab.research.google.com/github/henry921630/DataScience60Days/blob/main/DataScience60Days_day10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 作業目標:

# 運用索引找出需要資料
# 合併資料的分法應用
# 作業重點:

# 分辨索引loc、iloc差別
# 分辨合併資料方法的不同，因應不同情況使用Merge, join, concatenate
# 題目:
# 讀取STOCK_DAY_0050_202009.csv串聯STOCK_DAY_0050_202010.csv，並且找出open小於close的資料

In [2]:
import pandas as pd

In [9]:
#讀取STOCK_DAY_0050_202009.csv、STOCK_DAY_0050_202010.csv
from google.colab import files
uploaded = files.upload()

Saving STOCK_DAY_0050_202009.csv to STOCK_DAY_0050_202009 (1).csv
Saving STOCK_DAY_0050_202010.csv to STOCK_DAY_0050_202010.csv

In [11]:
df1 = pd.read_csv(r'STOCK_DAY_0050_202009.csv')
df2 = pd.read_csv(r'STOCK_DAY_0050_202010.csv')

In [16]:
#串聯
df3 = df1.append(df2)

In [27]:
#找出open小於close的資料
df3.loc[(df3.open < df3.close)]

         date    open    high     low   close
0   109/09/01  102.45  103.35  101.85  103.35
3   109/09/04  102.00  102.70  101.90  102.55
5   109/09/08  102.75  103.10  102.45  103.00
6   109/09/09  101.75  102.35  101.15  102.30
7   109/09/10  102.80  103.35  102.60  103.20
8   109/09/11  103.20  103.35  102.80  103.25
9   109/09/14  103.50  104.55  103.25  104.55
10  109/09/15  104.45  105.20  104.25  104.95
19  109/09/28  101.35  102.30  101.00  102.30
21  109/09/30  102.75  103.45  102.60  103.00
1   109/10/06  104.00  104.35  103.85  104.25
2   109/10/07  104.00  105.00  103.50  104.80
3   109/10/08  105.45  106.35  105.30  106.20
4   109/10/12  106.70  107.70  106.70  107.05
9   109/10/19  105.65  106.60  105.60  106.60
12  109/10/22  105.70  106.10  105.50  106.10